# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Dataset (too large for GitHub)
dataset/

# Trained models
saved_models/
*.h5
*.keras
*.weights.h5

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db